@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir';
  src: url('../public/fonts/AvenirLight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Avenir', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}
